{% extends 'base.html' %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bgc.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Companies</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Companies</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar order-md-last ftco-animate">
        <div class="sidebar-wrap ftco-animate">
          <h3 class="heading mb-4">Find City</h3>
          <form action="#">
            <div class="fields">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination, City">
              </div>
              <div class="form-group">
                <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control" placeholder="Keyword search">
                    <option value="">Select Location</option>
                    <option value="">San Francisco USA</option>
                    <option value="">Berlin Germany</option>
                    <option value="">Lodon United Kingdom</option>
                    <option value="">Paris Italy</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Date from">
              </div>
              <div class="form-group">
                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Date to">
              </div>
              <div class="form-group">
                <div class="range-slider">
                  <span>
                    <input type="number" value="25000" min="0" max="120000"/>	-
                    <input type="number" value="50000" min="0" max="120000"/>
                  </span>
                  <input value="1000" min="0" max="120000" step="500" type="range"/>
                  <input value="50000" min="0" max="120000" step="500" type="range"/>
                  </svg>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
              </div>
            </div>
          </form>
        </div>
        <div class="sidebar-wrap ftco-animate">

        </div>
      </div><!-- END-->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/daewoo.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">Daewoo Express</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.500</span>
                  </div>
                </div>
                <p>Daewoo Express is one of the most reliable and secure service if you are going to visit Pakistan via bus also its the reliable and time saving.</p>



              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/bilal.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">Bilal Daewoo</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.500</span>
                  </div>
                </div>
                <p>Bilal Daewoo is the latest bus service in Pakistan and due to its comfortable and services makes it the perfect travelling source.</p>

              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/PIA.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">PIA</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star-o"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.3000</span>
                  </div>
                </div>
                <p>PIA is the oldest and Government owned airline service which makes it a reliable source to travel in economic way.</p>

              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pr.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">Pakistan Railways</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star-o"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.100</span>
                  </div>
                </div>
                <p>Pakistan Railways is the very economic and reliable source to travel in pakistan cities.</p>

              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/faisal.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">Faisal Movers</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.500</span>
                  </div>
                </div>
                <p>Faisal Movers is one of the most luxrious, comfortable, economic and a fast growing bus travel service in Pakistan.</p>

              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-4 ftco-animate">
            <div class="destination">
              <a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/sh.jpg' %});">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-link"></span>
                </div>
              </a>
              <div class="text p-3">
                <div class="d-flex">
                  <div class="one">
                    <h3><a href="#">Shaheen Airlines</a></h3>
                    <p class="rate">
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>
                      <i class="icon-star"></i>

                    </p>
                  </div>
                  <div class="two">
                    <span class="price">Min PKR.1000</span>
                  </div>
                </div>
                <p>Shaheen Airlines is one of the best private airline company which provides the best services within and outside of Pakistan.</p>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>SignUp To Avail The Best Offers</h2>
          <p>SignUp now to avail the one of the most reliable platform's services and its offers.</p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
