{% extends 'base.html' %}
{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/fb.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Feedback</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Feedback</h1>
      </div>
    </div>
  </div>
</div>



 <!-- .section -->

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>SignUp To Avail The Best Offers</h2>
          <p>SignUp now to avail the one of the most reliable platform's services and its offers.</p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
