<form action="{% url 'schedules' %}" method="get" class="search-destination">
  <div class="row">

    <div class="col-md align-items-end">
      <div class="form-group">
        <label for="#">Departure</label>
        <div class="form-field">
          <div class="select-wrap">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select name="departure" id="" class="form-control">

              <option value="Lahore">Lahore</option>
              <option value="Rawalpindi">Rawalpindi</option>
              <option value="Faislabad">Faislabad</option>
              <option value="Multan">Multan</option>
              <option value="Sialkot">Sialkot</option>
              <option value="Salam">Salam</option>
              <option value="Shikarpur">Shikarpur</option>
              <option value="Moro">Moro</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Sukkur">Sukkur</option>
              <option value="Luckmarwat">Luckmarwat</option>
              <option value="Isa">Isa</option> Khail
              <option value="Mansehra">Mansehra</option>
              <option value="Abbottabad">Abbottabad</option>
              <option value="Sawat">Sawat</option>
              <option value="Mardan">Mardan</option>
              <option value="Bhalwal">Bhalwal</option>
              <option value="Chistian">Chistian</option>
              <option value="Arifwala">Arifwala</option>
              <option value="Mian Channu">Mian Channu</option>
              <option value="Tarag">Tarag</option>
              <option value="Kamar mashani">Kamar mashani</option>
              <option value="Kot chandna">Kot chandna</option>
              <option value="Lalamusa">Lalamusa</option>
              <option value="Lodhran">Lodhran</option>
              <option value="Dunyiapur">Dunyiapur</option>
              <option value="Jahaniya">Jahaniya</option>
              <option value="Muredke">Muredke</option>
              <option value="Wazirabad">Wazirabad</option>
              <option value="Bahawalnagar">Bahawalnagar</option>
              <option value="Kohat">Kohat</option>
              <option value="Dera Ismail Khan">Dera Ismail Khan</option>
              <option value="Buner">Buner</option>
              <option value="Sadiqabad">Sadiqabad</option>
              <option value="Mirpur">Mirpur</option>
              <option value="Kamoke">Kamoke</option>
              <option value="Sargodha">Sargodha</option>
              <option value="Joharabad">Joharabad</option>
              <option value="Kharian">Kharian</option>
              <option value="Gujranwala">Gujranwala</option>
              <option value="Peshawar">Peshawar</option>
              <option value="Daska">Daska</option>
              <option value="Sahiwal">Sahiwal</option>
              <option value="Karachi">Karachi</option>
              <option value="Khushab">Khushab</option>
              <option value="Murree">Murree</option>
              <option value="Mianwali">Mianwali</option>
              <option value="Rahim-Yar-Khan">Rahim-Yar-Khan</option>
              <option value="DGKhan">DGKhan</option>
              <option value="Jatoi">Jatoi</option>
              <option value="Muzaffargarh">Muzaffargarh</option>
              <option value="Liaquatpur">Liaquatpur</option>
              <option value="KhanPur">KhanPur</option>
              <option value="Khanewal">Khanewal</option>
              <option value="Tonsa">Tonsa</option>
              <option value="Kotaddu">Kotaddu</option>
              <option value="Sanawan">Sanawan</option>
              <option value="Buhawalpur">Buhawalpur</option>

            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md align-items-end">
      <div class="form-group">
        <label for="#">Destination</label>
        <div class="form-field">
          <div class="select-wrap">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select name="destination" id="" class="form-control">

              <option value="Lahore">Lahore</option>
              <option value="Rawalpindi">Rawalpindi</option>
              <option value="Faislabad">Faislabad</option>
              <option value="Multan">Multan</option>
              <option value="Sialkot">Sialkot</option>
              <option value="Salam">Salam</option>
              <option value="Shikarpur">Shikarpur</option>
              <option value="Moro">Moro</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Sukkur">Sukkur</option>
              <option value="Luckmarwat">Luckmarwat</option>
              <option value="Isa">Isa</option> Khail
              <option value="Mansehra">Mansehra</option>
              <option value="Abbottabad">Abbottabad</option>
              <option value="Sawat">Sawat</option>
              <option value="Mardan">Mardan</option>
              <option value="Bhalwal">Bhalwal</option>
              <option value="Chistian">Chistian</option>
              <option value="Arifwala">Arifwala</option>
              <option value="Mian Channu">Mian Channu</option>
              <option value="Tarag">Tarag</option>
              <option value="Kamar mashani">Kamar mashani</option>
              <option value="Kot chandna">Kot chandna</option>
              <option value="Lalamusa">Lalamusa</option>
              <option value="Lodhran">Lodhran</option>
              <option value="Dunyiapur">Dunyiapur</option>
              <option value="Jahaniya">Jahaniya</option>
              <option value="Muredke">Muredke</option>
              <option value="Wazirabad">Wazirabad</option>
              <option value="Bahawalnagar">Bahawalnagar</option>
              <option value="Kohat">Kohat</option>
              <option value="Dera Ismail Khan">Dera Ismail Khan</option>
              <option value="Buner">Buner</option>
              <option value="Sadiqabad">Sadiqabad</option>
              <option value="Mirpur">Mirpur</option>
              <option value="Kamoke">Kamoke</option>
              <option value="Sargodha">Sargodha</option>
              <option value="Joharabad">Joharabad</option>
              <option value="Kharian">Kharian</option>
              <option value="Gujranwala">Gujranwala</option>
              <option value="Peshawar">Peshawar</option>
              <option value="Daska">Daska</option>
              <option value="Sahiwal">Sahiwal</option>
              <option value="Karachi">Karachi</option>
              <option value="Khushab">Khushab</option>
              <option value="Murree">Murree</option>
              <option value="Mianwali">Mianwali</option>
              <option value="Rahim-Yar-Khan">Rahim-Yar-Khan</option>
              <option value="DGKhan">DGKhan</option>
              <option value="Jatoi">Jatoi</option>
              <option value="Muzaffargarh">Muzaffargarh</option>
              <option value="Liaquatpur">Liaquatpur</option>
              <option value="KhanPur">KhanPur</option>
              <option value="Khanewal">Khanewal</option>
              <option value="Tonsa">Tonsa</option>
              <option value="Kotaddu">Kotaddu</option>
              <option value="Sanawan">Sanawan</option>
              <option value="Buhawalpur">Buhawalpur</option>

            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md align-items-end">
      <div class="form-group">
        <label for="#">Transport Type </label>
<div class="form-field">
          <div class="select-wrap">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select name="transport_type" id="" class="form-control">
              <option value="Airline">Airline</option>
              <option value="Bus">Bus</option>
              <option value="Railway">Railway</option>

            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md align-items-end">
      <div class="form-group">
        <label for="#">Date</label>
        <input type="text" name="date" id="checkout_date" class="form-control checkout_date" placeholder="Date">
      </div>
    </div>

    <div class="col-md align-self-end">
      <div class="form-group">
        <div class="form-field">
          <input type="submit" value="Search" class="form-control btn btn-primary">
        </div>
      </div>
    </div>
  </div>
</form>
