{% load static i18n %}

<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}TICKETS4YOU{% endblock %}</title>

    {% include "meta.html" %}
    {% include "css.html" %}
    {% include "head_js.html" %}

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "includes/header.html" %}

    {% block content %}{% endblock %}

    {% include "includes/footer.html" %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    {% include "js.html" %}

    {% block js_content %}{% endblock %}
  </body>
</html>
